<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/images/logo.png" alt="logo" /> <em>Random Inc.</em>
      </div>
      <div class="naslov"></div>
      <div class="search-bar">
        <p id="cartCounter">0</p>
        <a href="./cart.ejs"><img src="/images/cart.png" alt="cart" /></a>
        <img src="/images/magnifier.png" alt="magnifier" />
      </div>
    </header>
  </body>
</html>
