<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Inc.</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') %>
      <main>
        <div class="main-left">
          <ul class="kategorije">
            <a href="/home/getProducts/guitars"><li>Gitare</li></a>
            <a href="/home/getProducts/toys"><li>Igračke</li></a>
            <a href="/home/getProducts/carpets"><li>Tepisi</li></a>
            <a href="/home/getProducts/climbing gear"><li>Pribor za Penjanje</li></a>
            <a href="/home/getProducts/consoles"><li>Igraće Konzole</li></a>
            <a href="/home/getProducts/doors"><li>Vrata</li></a>
            <a href="/home/getProducts/paintings"><li>Slike</li></a>
            <a href="/home/getProducts/pants"><li>Hlače</li></a>
            <a href="/home/getProducts/shirts"><li>Majice</li></a>
            <a href="/home/getProducts/tvs"><li>Televizori</li></a>
          </ul>
          <div class="info">
            <article>Kontakt</article>
            <article>Newsletter</article>
            <article>Pretplati se</article>
          </div>
        </div>
        <div class="main-right">
          <div class="naslovnica">
            <img src="/images/naslovna.png" alt="Welcome image" />
            <h4>
              <caption>
                WELCOME
              </caption>
            </h4>
          </div>
          <div class="artikli">
            <% products.forEach(product => { %>
            <div class="card" onclick="cardClicked()">
              <img
                src="<%= product.image %>"
                alt="<%= product.name %>"
                style="width: 100%"
              />
              <div class="card-container">
                <p><b><%= product.name %></b></p>
              </div>
              <h5 style="display: none">0</h5>
            </div>
            <% }); %>
          </div>
        </div>
      </main>
    </div>
  </body>
  <script defer src="/scripts/load.js"></script>
</html>
