<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Inc.</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo">
          <img src="./images/logo.png" alt="logo" /> <em>Random Inc.</em>
        </div>
        <div class="naslov"></div>
        <div class="search-bar">
          <p id="cartCounter">0</p>
          <a href="./cart.html"><img src="./images/cart.png" alt="cart" /></a>
          <img src="./images/magnifier.png" alt="magnifier" />
        </div>
      </header>
      <main>
        <div class="main-left">
          <ul class="kategorije">
            <li>Gitare</li>
            <li>Igračke</li>
            <li>Tepisi</li>
            <li>Pribor za Penjanje</li>
            <li>Igraće Konzole</li>
            <li>Vrata</li>
            <li>Slike</li>
            <li>Hlače</li>
            <li>Majice</li>
            <li>Televizori</li>
          </ul>
          <div class="info">
            <article>Kontakt</article>
            <article>Newsletter</article>
            <article>Pretplati se</article>
          </div>
        </div>
        <div class="main-right">
          <div class="naslovnica">
            <img src="./images/naslovna.png" alt="Welcome image" />
            <h4>
              <caption>
                WELCOME
              </caption>
            </h4>
          </div>
          <div class="artikli"></div>
        </div>
      </main>
    </div>
  </body>
  <script src="scripts/data.js"></script>
  <script defer src="scripts/load.js"></script>
</html>
